<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="SERVER_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/Test-Workspace/Log-folder/candidate-profile.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/candidate-profile-%i.log.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>300MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </pattern>
		</encoder>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="SERVER_FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>